@use "sass:math";

// EXTENDS

%maintitle {
   
    font-weight: 700;
    margin: 0;
    padding: 0;
}

%clickable {
    text-align: center;
    cursor: pointer;
    padding: 12px;
    margin: 12px;
}

%input {
    text-align: center;
    cursor: pointer;
    padding: $textPadding;
    margin: $textmargin;
    margin-bottom: rem(12px)
}

%activeButton {
    border: 2px solid white;
    outline: 1px 2px solid $third-color;
    background-color: $tertiary-background;
}

// FUNCTIONS



@function height($width, $mult) { 
    @return $width * $mult
}

// funzione conversione px rem

$basesize: 16px;
@function rem($px) {
  @return math.div($px, $basesize) * 1rem;
}



@function shade($color, $percentage) {
  @if ($percentage > 50) {
    @return mix(#000000, $color, $percentage);
  } @else {
    @return mix(#ffffff, $color, $percentage);
  }
}

@function column($col) {
  @return math.div(100%, 12) * $col;
}

// MIXINS

@mixin flexDirection($value, $justify, $align) {
  display: flex;
  flex-direction: $value;
  justify-content: $justify;
  align-items: $align;
  
}

@mixin absolutePosition($firstProperty, $firstValue, $secondProperty, $secondValue) {
  position: absolute;
  $firstProperty: $firstValue;
  $secondProperty: $secondValue;
}

@mixin centerAbsolute($xPerc, $yPerc) {
      transform: translateX($xPerc);
      transform: translateY($yPerc);
}

